.banner-container {
    position: relative;
}
.carousel {
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
}
.carousel .item {
    scroll-snap-align: start;
}
.control-dots {
    display: flex;
    justify-content: center !important;
    gap: 5px;
    width: 100% !important;
    position: absolute;
}
.carousel .control-dots {
    position: absolute;
    bottom: -21px !important;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    z-index: 1;
}
.carousel.carousel-slider {
    overflow: visible !important;
}
.pagination-wrapper {
    display: flex;
    gap: 5px;
}
.banner-clip-path {
clip-path: circle(100.1% at 100% 100%);
}